/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*MY CODE START FROM HERE*/
/*HEADER PART*/
.logo{
	display: inline-block;
}

.logo img{
	padding-left: 118px;
    padding-top: 12px;
}


.navigation{
	display: inline-block;
	float: right;
    padding-top: 31px;
    padding-right: 108px;
}


.navigation li{
	display: inline-block;
}

.navigation li a{
	text-decoration: none;
	padding: 21px;
	color: #111;
    font-family: sans-serif;
    font-size: 16px;
}

.fa-user{
	padding-right: 6px;
}


.btn{
	background-color: #e06c6f;
	border:1px solid #e06c6f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;

}

.btn:hover{
	color: #e06c6f;
	background-color:#fff;
	transition: .5s;
	border: 1px solid #e06c6f; 
}


.navigation a:hover{
	color:#e06c6f;
}


header{
	padding-bottom: 11px;
}

/*HEADER PARTS ENDS HERE*/
/*Main starts from here*/

/*Banner Part starts*/

.banner-img{
 background-image: url("images/900x400.png");
 background-size: 100% 100%;
 height: 450px;
}


.banner-head{
font-family: sans-serif;
    color: #fff;
    font-size: 53px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding-top: 22%;

}

.banner-text{
font-family: sans-serif;
    color: #fff;
    letter-spacing: 1px;
    padding-top: 12px;
    text-align: center;
}

/*Banner Parts ends*/

/*banner-img content starts from here*/

.images-content{

}


.img-content{
font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 49px;
    font-weight: 100;
    color: #353535;
    letter-spacing: 1px;
}

.img-para{
	text-align: center;
    padding-top: 22px;
    margin: 0 auto;
    width: 640px;
    padding-bottom: 50px;
    font-family: sans-serif;
    font-size: 15px;
    color: #8a8a8a;
    line-height: 19px;
}

/*Banner img content ends here*/

.images-photo{
margin: 0 auto;
    width: 920px;
}


.images-photo img{
	    padding: 38px;
    border-radius: 123px;
}

/*Lorem-content starts here*/

.lorem-content-image{
    padding: 61px 205px 30px;

}


.lorem-image{
display: inline-block;
}

.lorem-text{
display: inline-block;
width: 74%;
    vertical-align: top;
    padding-left: 17px;
}

.contain{
margin-top: 35px;   
	border-top: 2px solid #cecece;
	padding-bottom: 50px;
}


.lorem-head{
	font-family: sans-serif;
    font-size: 23px;
    padding-bottom: 15px;
    font-weight: 100;
    color: #3f3f3f;
}

.lorem-para{
	    font-family: sans-serif;
    letter-spacing: 1px;
    color:#656161;
    line-height: 22px;
}



/*Lorem content ends here*/
/*Main ends here*/

/*FOOTER Starts here*/


.footer-nav li {
	    display: inline-block;
    position: relative;
    left: 27%;
    padding-right: 93px;
}



.footer-content{
	display: inline-block;
}


.footer-icons{
	display: inline-block;
    position: relative;
    left: 13%;
    vertical-align: top;
        margin-top: 55px;

}

.nav-icons li{
	display: inline-block;
	padding-right: 14px;
}

.footer-head{
font-family: sans-serif;
    font-size: 21px;
    padding-bottom: 18px;
    color: #909090;
}

.footer-content p{
font-family: sans-serif;
    font-size: 17px;
    padding-bottom: 9px;
    color: #727473;
    cursor: pointer;

}



.nav-icons ul{

}

.nav-icons p{
	margin-top: 41px;
    font-family: sans-serif;
    font-size: 15px;
    color: #909090;

}

.nav-icons a{
    color: #28282a;
    padding: 16px 18px;
    border-radius: 29px;
    font-size: 19px;
    background-color: #696b6a;
}

footer{
	padding-top: 30px;
	background-color:#262a2d;
	padding-bottom: 18px;
}


